<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            
               <div>
                   <ul>
                    <li><img src="~/images/Logo1.png" alt="logo"></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="FindEvents">FindEvents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="AboutUs">AboutUs</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="ContactUs">ContactUs</a>
                        </li>

                       
                        <li>
                            <button class="button1">
                                <a asp-controller="Web" asp-action="login">Login</a>
                            </button>
                        </li>
                   @*  <li>
                        <button class="button2">
                            <a asp-controller="Web" asp-action="Home">Logout</a>
                        </button>
                    </li> *@
                        
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="AdminHome">Admin</a>
                    </li> 
                    @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Web" asp-action="EventCard">ContecUs</a>
                        </li> *@

                    </ul>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="bottom">
            <ul>
                <li>
                    <p1>JP’s </p1> <br />
                    <p2> Events</p2>
                </li>
                <li>
                    <p3>Memorable events don’t just happen.They happen to be our business.</p3>
                    <br/>
                    <p4> JP Events. All rights reserved.</p4>
                </li>
                <li>
                    <p5>
                        CONTACT US<br />
                        Tramba, Rajkot, 360020<br />
                        Call Us: +917574992569<br />
                        info@JPevents.com<br />
                    </p5>
                </li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
