.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 100px;
    background-color: #ffffff;
    margin: auto;
    width: 100%;
}
