.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 11px;
    background-color: #ffffff;
    margin: auto;
    width: 100%;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    margin-top: 100px;
    padding: 32px;
    border-radius: 18px;
    border: 2px solid #34D399;
    /*margin-left: 300px;*/
}

.two {
    width: 230px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .two h3 {
        font-size: 24px;
        text-transform: uppercase;
        color: blue;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .two p {
        font-size: 18px;
    }

.three {
    width: 450px;
}

    .three img {
        width: 100%;
        border-radius: 14px;
    }
