

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    /*position: relative;*/
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top:40px;
    margin-left:965px;
}




.cursor-pointer {
    cursor: pointer;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 150px;
}

.grid-item {
    width: 95%;
    /*height: 70%;*/
    background-color: transparent;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    
}

.text-style {
    margin-top: 300px;
    color: white;
    font-size: 35px;
    margin-left: 130px;
    
}
.text-style a{
    text-decoration:none;
    color:white;
}
