
@{
    ViewData["Title"] = "EventCard";
}

<h1></h1>
    <link rel="stylesheet" href="~/css/EventCard.css" asp-append-version="true" />

    <div class="container">
        <div class="one">
            <div class="two">
                <h3>Heading</h3>
                <p>
                  <span>Year:</span><br/>
                  <span>Month:</span>
                </p>
                  <p>Location</p>
            </div>

        <div class="three">
           <img src="~/images/1.jpg" alt="alt image"/>
        </div>
        </div>
    </div>