
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
<div>
    <Navigation />
    <div class="home-wrapper">
        <div class="home"></div>
        <div class="container" style="background-image:url('/images/Rectangle 7.png')">
            <p>Explore More</p>
            <a href="/Web/Services">
                <button>Explore More Events</button>
            </a>    
        </div>
        <div class="image-row">
            <div class="image-column">
                <img src="~/images/2.png" alt="Image 1" />
            </div>
            <div class="image-column">
                <img src="~/images/5.png" alt="Image 2" />
            </div>
            <div class="image-column">
                <img src="~/images/Black and White Crown Gaming Logo 1.png" alt="Image 3" />
            </div>
            <div class="image-column">
                <img src="~/images/Black Line art Guitar Store Logo (1) 1.png" alt="Image 4" />
            </div>
        </div>
            <div class="row-grid">
                <div class="column-grid">
                    <img src="~/images/1.jpg" alt="Example Image">
                    <img src="~/images/2.jpg" alt="Example Image">
                    <img src="~/images/3.jpg" alt="Example Image">
                    <img src="~/images/4.jpg" alt="Example Image">
                    <img src="~/images/5.jpg" alt="Example Image">
                    <img src="~/images/8.jpg" alt="Example Image">
                    <img src="~/images/7.jpg" alt="Example Image">
                    </div>
                    <div class="column-grid">
                    <img src="~/images/11.jpg" alt="Example Image">
                    <img src="~/images/13.jpg" alt="Example Image">
                    <img src="~/images/9.jpg" alt="Example Image">
                    <img src="~/images/15.jpg" alt="Example Image">
                    <img src="~/images/10.jpg" alt="Example Image">
                    <img src="~/images/14.jpg" alt="Example Image">
                    <img src="~/images/12.jpg" alt="Example Image">
                </div>
                <div class="column1-grid">
                    
                    <img src="~/images/16.jpg" alt="Image 6" />
                </div>
            </div>
        
    </div>
</div>
