
@{
    ViewData["Title"] = "Services";
}

<h1>Services</h1>

<link rel="stylesheet" href="~/css/Services.css" asp-append-version="true" />
<div>
    <button class="button-85" onclick="window.location.href='/Web/Booking'">Book Events</button>

    <div class="grid-container">
    
        <div class="grid-item" style="background-image: url('/images/Rectangle 13.png')" >
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
        <div class="grid-item" style="background-image: url('/images/Rectangle 14.png')">
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
        <div class="grid-item" style="background-image: url('/images/Rectangle 15.png')">
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
        <div class="grid-item" style="background-image: url('/images/Rectangle 22.png')" >
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
        <div class="grid-item" style="background-image: url('/images/9.jpg')">
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
        <div class="grid-item" style="background-image: url('/images/5.jpg')">
            <p class="text-style"><a href="#">Explore More</a></p>
        </div>
    
    </div>
</div>